:root {
  --dark-gray:        #1C1E24;
  --dark-gray-hover:  #1C1E24cc;
  --gray:             #282C34;
  --green:            #98BE65;
  --red:              #FF6C6B;
  --light-blue:       #73bff2;
  --blue:             #51AFEF;
  --yellow:           #ECBE7B;
  --purple:           #c678dd;
  --white:            #efefef;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body, header {
  background-color: var(--gray) !important;
  color: var(--white) !important;
}

.navbar-brand {
  font-weight: bold;
  text-shadow: 1px 1px var(--purple);
}

a:link, a:visited, a:active {
  color: var(--blue);
}
a:hover {
  color: var(--light-blue);
}